.promo
    padding-top: 1.6rem
    min-height: 100vh

    background: url("../img/leo_bg.jpg") center (center/cover) no-repeat

    &__header-wrap
        display: flex
        justify-content: space-between

    &__logo

    &__dove

    &__send
        display: inline-block

    &__send-text
        display: inline

        font-family: 'Lora'
        font-size: 1.4rem
        text-decoration: underline
    &__btn-text

        font-family: "Lora"
        font-size: 1.5rem
