<div class="adv">
    <div class="container">
        <h1 class="adv__title">Advantages of technology</h1>
        <div class="adv__items">
            <div class="adv__item">
                <div>
                    <img src="assets/img/shells.png" alt="" class="adv__item-img">
                </div>

                <div class="adv__item-text">Diversity <br>shells</div>
            </div>
            <div class="adv__item">
                <div>
                    <img src="assets/img/target.png" alt="" class="adv__item-img">
                </div>

                <div class="adv__item-text">Accuracy <br>hitting the target</div>
            </div>
            <div class="adv__item">

                <div>
                    <img src="assets/img/shield.png" alt="" class="adv__item-img">
                </div>
                <div class="adv__item-text">Strength <br>constructions</div>
            </div>
            <div class="adv__item">
                <div>
                    <img src="assets/img/draw.png" alt="" class="adv__item-img">
                </div>

                <div class="adv__item-text">Creations of the <br>great genius</div>
            </div>
        </div>

        <h2 class="adv__title adv__title--testimon">Clients Testimonials</h2>
        <div class="adv__testimonials">
            <div class="adv__testimonials-block">
                <img src="assets/img/alexander.png" alt="">
                    <div>
                        <div class="adv__testimonials-text">The weapons of Leonardo proved to be excellent against the  Venetian league in the battle of Fornovo. We used catapults in  defense of heights, which allowed us to easily drop the enemy.</div>
                        <div class="adv__testimonials-line"></div>
                        <div class="adv__testimonials-name">Alexander VI</div>
                    </div>



            </div>

            <div class="adv__testimonials-icons">
                <img src="assets/img/helmet.png" alt="">
                <img src="assets/img/cross.png" alt="">
                <img src="assets/img/crown.png" alt="">
            </div>

        </div>
    </div>
</div>
