<div class="catalog">
    <div class="container">
        <div class="catalog__item">
                <img src="assets/img/rapid.png" class="catalog__item-img">
            <div class="catalog__item-desc">
                <div class="catalog__item-title">Rapid Weapon</div>
                <div class="catalog__item-text">Leonardo paid much attention to the design of automatic firearms. To increase the power and speed of fire, he fanned out a multitude of trunks.</div>
                <div class="catalog__item-misc">
                    <div class="catalog__item-amount">Amount <br> of trunks </div>
                    <div class="catalog__item-trunks">10</div>
                    <div class="catalog__item-line"></div>
                    <div class="catalog__item-amount">Defeat<br>range</div>
                    <div class="catalog__item-trunks">150M</div>

                </div>

                <button class="btn btn__catalog">Buy product</button>

            </div>
        </div>

        <div class="catalog__item">

            <div class="catalog__item-desc">
                <div class="catalog__item-title">Rapid Weapon</div>
                <div class="catalog__item-text">Leonardo da Vinci designed a heavy turtle-shaped van, armed with cannons and armored armor. The movement of this platform is carried out by 8 people using a gearbox connected to the wheels.</div>
                <div class="catalog__item-misc">
                    <div class="catalog__item-amount">Amount <br> of trunks </div>
                    <div class="catalog__item-trunks">8</div>
                    <div class="catalog__item-line"></div>
                    <div class="catalog__item-amount">Defeat<br>range</div>
                    <div class="catalog__item-trunks">100M</div>

                </div>

                <button class="btn btn__catalog">Buy product</button>

            </div>

            <img src="assets/img/van.png" class="catalog__item-img">
        </div>

        <div class="catalog__item">
                <img src="assets/img/winch.png" class="catalog__item-img">
            <div class="catalog__item-desc">
                <div class="catalog__item-title">Rapid Weapon</div>
                <div class="catalog__item-text">The catapult has a flexible shoulder, bending backwards using a hand winch, as well as a bucket, where a stone is thrown along the ladder. A group of such catapults hitting the enemy at the same time can provide excellent protection.</div>
                <div class="catalog__item-misc">
                    <div class="catalog__item-amount">Weight <br> of projectile</div>
                    <div class="catalog__item-trunks">26kg</div>
                    <div class="catalog__item-line"></div>
                    <div class="catalog__item-amount">Defeat<br>range</div>
                    <div class="catalog__item-trunks">300M</div>

                </div>

                <button class="btn btn__catalog">Buy product</button>

            </div>
        </div>

    </div>
</div>
