<div class="send">
    <div class="container">
        <h2 class="send__title">Send Pigeon</h2>
        <form class="send__form" action="index.html" method="post">
            <input class="send__input" type="text" placeholder="Your name">
             <input class="send__input" type="email" placeholder="Your email">
             <div>
                 <textarea class="send__text" placeholder="Your message"></textarea>
                 <input class="btn send__submit" type="submit" value="send">
             </div>
        </form>
    </div>
</div>
